{% extends "base.html" %}
{% block title %}{% endblock %}
{% block extra_js %}
    <script>
        // add all your code to this method, as this will ensure that page is loaded
        AmCharts.ready(function() {
            // create AmMap object
            map = new AmCharts.AmMap();
            // set path to images
            map.pathToImages = "ammap/images/";

            var dataProvider = {
                mapVar: AmCharts.maps.ukraineLow,
                getAreasFromMap:true
            };
            // pass data provider to the map object
            map.dataProvider = dataProvider;

            map.areasSettings = {
                autoZoom: true,
                selectedColor: "#CC0000"
            };

            // let's say we want a small map to be displayed, so let's create it
            map.smallMap = new AmCharts.SmallMap();

            // write the map to container div
            map.write("mapdiv");
            areas=map.dataProvider.areas

        });
    </script>


    <script type="text/javascript">
        var chartData = [{% for i in object.entreprenurship_set.all %}
                             {id:"{{ i.region.short_title }}", country: "{{ i.region }}", visits: {{ i.enterprises }} },
                         {% endfor %}];

        window.onload = function () {
            function compare(a,b) {
                if (a.visits < b.visits)
                    return 1;
                if (a.visits > b.visits)
                    return -1;
                return 0;
            }
            chartData.sort(compare);
            chart = new AmCharts.AmSerialChart();
            chart.dataProvider = chartData;
            chart.categoryField = "country";
            chart.marginTop = 15;
            chart.marginLeft = 55;
            chart.marginRight = 15;
            chart.marginBottom = 80;
            chart.angle = 30;
            chart.depth3D = 15;
            var catAxis = chart.categoryAxis;
            catAxis.autoGridCount=false;
            catAxis.gridCount = chartData.length;
//            catAxis.startOnAxis = true;
            catAxis.labelRotation = 90;

//            chart.valueAxes[0].min = 0;


            var graph = new AmCharts.AmGraph();
            graph.balloonText = "[[category]]: [[value]]";
            graph.valueField = "visits"
            graph.type = "column";
            graph.lineAlpha = 0;
            graph.fillAlphas = 0.8;

            chart.addGraph(graph);

            chart.write('chartContainer');
            chart.addListener("rollOverGraphItem", function(a){id = a.item.dataContext.id;
                for(var i = 0, m = null; i < areas.length; ++i) {     if(areas[i].id != id)         continue;     m = areas[i];     break; }
                map.rollOverMapObject(m)})
            chart.addListener("clickGraphItem", function(a){id = a.item.dataContext.id;
                for(var i = 0, m = null; i < areas.length; ++i) {     if(areas[i].id != id)         continue;     m = areas[i];     break; }
                map.clickMapObject(m)
                console.log(a)})
//            map.addListener("clickMapObject", function(a){id = a.item.dataContext.id;
//                for(var i = 0, m = null; i < areas.length; ++i) {     if(areas[i].id != id)         continue;     m = areas[i];     break; }
////                map.clickMapObject(m)
//                console.log(a)})
        }

    </script>
{% endblock %}
{% block body %}
    <h3 style="text-align: center">{{ object }} в {{ object.year }}</h3>
    <div id="chartContainer" style="width: 640px; height: 400px; float: left"></div>
    <div id="mapdiv" style="width: 640px; height: 400px;"></div>
{% endblock %}